footer#main-footer
  .container
    .row
      .col.text-center
        .py-4
          h1.h3 LoopLab
          p Copyright &copy; 2018
          button.btn.btn-primary(data-toggle="modal" data-target="#contactModal") Contact Us
