section#posts
  .container
    .row
      .col-md-9
        .card
          .card-header
            h4 Latest posts
          table.table.table-striped
            thead.thead-dark
              tr
                th #id
                th Title
                th Category
                th Date posted
                th
            tbody
              tr
                td(scope="row") 1
                td Post one
                td Web development
                td July 12, 2018
                td
                  a.btn.btn-secondary.btn-sm(href="details.html")
                    i.fa.fa-angle-double-right
                    |Details
              tr
                td(scope="row") 1
                td Post two
                td Gadgets
                td July 15, 2018
                td
                  a.btn.btn-secondary.btn-sm(href="details.html")
                    i.fa.fa-angle-double-right
                    |Details
              tr
                td(scope="row") 2
                td Post three
                td Web development
                td July 20, 2018
                td
                  a.btn.btn-secondary.btn-sm(href="details.html")
                    i.fa.fa-angle-double-right
                    |Details
              tr
                td(scope="row") 3
                td Post four
                td Bussines
                td July 30, 2018
                td
                  a.btn.btn-secondary.btn-sm(href="details.html")
                    i.fa.fa-angle-double-right
                    |Details
      .col-md-3
        .card.text-center.bg-primary.text-white.mb-3
          .card-body
            h3 Posts
            h1.display-4
              i.fas.fa-pencil-alt
              |6
            a.btn.btn-outline-light.btn-sm(href="posts.html") View
        .card.text-center.bg-success.text-white.mb-3
          .card-body
            h3 Categories
            h1.display-4
              i.fas.fa-folder-open
              |4
            a.btn.btn-outline-light.btn-sm(href="categories.html") View
        .card.text-center.bg-warning.text-white.mb-3
          .card-body
            h3 Users
            h1.display-4
              i.fas.fa-user
              |2
            a.btn.btn-outline-light.btn-sm(href="users.html") View
