.card
  .card-header
    h4 Latest posts
  table.table.table-striped
    thead.thead-dark
      tr
        th #id
        th Title
        th Category
        th Date posted
        th
    tbody
      tr
        td(scope="row") 1
        td Post one
        td Web development
        td July 12, 2018
        td
          a.btn.btn-secondary.btn-sm(href="details.html")
            i.fa.fa-angle-double-right
            |Details
      tr
        td(scope="row") 1
        td Post two
        td Gadgets
        td July 15, 2018
        td
          a.btn.btn-secondary.btn-sm(href="details.html")
            i.fa.fa-angle-double-right
            |Details
      tr
        td(scope="row") 2
        td Post three
        td Web development
        td July 20, 2018
        td
          a.btn.btn-secondary.btn-sm(href="details.html")
            i.fa.fa-angle-double-right
            |Details
      tr
        td(scope="row") 3
        td Post four
        td Bussines
        td July 30, 2018
        td
          a.btn.btn-secondary.btn-sm(href="details.html")
            i.fa.fa-angle-double-right
            |Details
