section#about.py-5.text-center.bg-light
  .container
    .row
      .col
        .info-header.mb-5
          h1.text-primary.pb-3 Why This Book?
          p.lead.pb-3
           | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam rerum voluptates culpa quis hic libero quaerat optio vitae facilis pariatur suscipit asperiores debitis, est et aliquam provident obcaecati eligendi neque?
        #accordion(role='tablist')
          .card
            #heading1.card-header
              h5.mb-0
                div(href='#collapse1', data-toggle='collapse', data-parent='#accordion')
                  i.fa.fa-arrow-circle-down
                  | Get Inspired
            #collapse1.collapse.show
              .card-body
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi pariatur optio totam obcaecati facere nam nihil inventore dolorum consequuntur quis unde voluptatibus numquam velit veniam explicabo eveniet fugit hic, tenetur. Iusto, consequatur, obcaecati. Ab earum alias, placeat exercitationem possimus quidem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem officia officiis aliquam fugiat, omnis, corrupti dolorum ipsa laudantium sequi dolores!
          .card
            #heading2.card-header
              h5.mb-0
                div(href='#collapse2', data-toggle='collapse', data-parent='#accordion')
                  i.fa.fa-arrow-circle-down
                  | Gain The Knowledge
            #collapse2.collapse
              .card-body
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi pariatur optio totam obcaecati facere nam nihil inventore dolorum consequuntur quis unde voluptatibus numquam velit veniam explicabo eveniet fugit hic, tenetur. Iusto, consequatur, obcaecati. Ab earum alias, placeat exercitationem possimus quidem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem officia officiis aliquam fugiat, omnis, corrupti dolorum ipsa laudantium sequi dolores!
          .card
            #heading3.card-header
              h5.mb-0
                div(href='#collapse3', data-toggle='collapse', data-parent='#accordion')
                  i.fa.fa-arrow-circle-down
                  | Open Your Mind
            #collapse3.collapse
              .card-body
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi pariatur optio totam obcaecati facere nam nihil inventore dolorum consequuntur quis unde voluptatibus numquam velit veniam explicabo eveniet fugit hic, tenetur. Iusto, consequatur, obcaecati. Ab earum alias, placeat exercitationem possimus quidem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem officia officiis aliquam fugiat, omnis, corrupti dolorum ipsa laudantium sequi dolores!
