section#authors.my-5.text-center
  .container
    .row
      .col
        .info-header.pb-5
          h1.text-primary.pb-3 Our authors
          p.lead.pb-3
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam rerum voluptates culpa quis hic libero quaerat optio vitae facilis pariatur suscipit asperiores debitis, est et aliquam provident obcaecati eligendi neque?
    .row.mt-5
      .col-lg-3.col-md-6.mb-3
        .card
          .card-body
            img.img-fluid.rounded-circle.w-50.mb-3(src="img/person1.jpg", alt="Author 1")
            h3 Susan Williams
            h5.text-muted Lead Writer
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam rerum voluptates culpa quis.
            .d-flex.flex-row.justify-content-center
              .p-4
                a(href="#")
                  i.fab.fa-facebook-f
              .p-4
                a(href="#")
                  i.fab.fa-twitter
              .p-4
                a(href="#")
                  i.fab.fa-instagram
      .col-lg-3.col-md-6.mb-3
        .card
          .card-body
            img.img-fluid.rounded-circle.w-50.mb-3(src="img/person2.jpg", alt="Author 2")
            h3 Grace Smith
            h5.text-muted Co Writer
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam rerum voluptates culpa quis.
            .d-flex.flex-row.justify-content-center
              .p-4
                a(href="#")
                  i.fab.fa-facebook-f
              .p-4
                a(href="#")
                  i.fab.fa-twitter
              .p-4
                a(href="#")
                  i.fab.fa-instagram
      .col-lg-3.col-md-6.mb-3
        .card
          .card-body
            img.img-fluid.rounded-circle.w-50.mb-3(src="img/person3.jpg", alt="Author 3")
            h3 John Doe
            h5.text-muted Editor
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam rerum voluptates culpa quis.
            .d-flex.flex-row.justify-content-center
              .p-4
                a(href="#")
                  i.fab.fa-facebook-f
              .p-4
                a(href="#")
                  i.fab.fa-twitter
              .p-4
                a(href="#")
                  i.fab.fa-instagram
      .col-lg-3.col-md-6.mb-3
        .card
          .card-body
            img.img-fluid.rounded-circle.w-50.mb-3(src="img/person4.jpg", alt="Author 4")
            h3 Kevin Swanson
            h5.text-muted Designer
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam rerum voluptates culpa quis.
            .d-flex.flex-row.justify-content-center
              .p-4
                a(href="#")
                  i.fab.fa-facebook-f
              .p-4
                a(href="#")
                  i.fab.fa-twitter
              .p-4
                a(href="#")
                  i.fab.fa-instagram