section#contact.bg-light.py-5
  .container
    .row
      .col-lg-9
        h3 Get In Touch
        p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, et.
        form
          .form-group
            .input-group.input-group-lg
              .input-group-prepend
                span.input-group-text
                  i.fa.fa-user
              input.form-control(type='text', placeholder='Name')
          .form-group
            .input-group.input-group-lg
              .input-group-prepend
                span.input-group-text
                  i.fa.fa-envelope
              input.form-control(type='email', placeholder='Email')
          .form-group
            .input-group.input-group-lg
              .input-group-prepend
                span.input-group-text
                  i.fas.fa-pencil-alt
              textarea.form-control(placeholder='Message', rows='5')
          input.btn.btn-primary.btn-block.btn-lg(type='submit', value='Submit')
      .col-lg-3.align-self-center
        img.img-fluid(src='img/logo.png', alt='')