section#newsletter.bg-dark.text-white.py-5
  .container
    .row
      .col-md-4
        input.form-control.form-control-lg(type="text" placeholder="Enter Name")
      .col-md-4
        input.form-control.form-control-lg(type="email" placeholder="Enter Email")
      .col-md-4
        button.btn.btn-primary.btn-lg.btn-block
          i.fa.fa-envelope-open-o(aria-hidden="true")
          | Subscribe