section#showcase.py-5
  .container.text-white
    .row
      .col-lg-6.text-center.mt-5
        h1.display-2.mt-5.pt-5 So what you dream of...
        p.lead Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nihil mollitia aspernatur, voluptatibus eveniet eius in vitae cum rem sit reiciendis illo natus omnis nobis dicta saepe. Veritatis, quia odit?
        a.btn.btn-secondary.btn-lg.text-white(href="#") Read more
          i.fa.fa-arrow-right.pl-1
      .col-lg-6.mt-5
        img.img-fluid(src="img/book.png")
