section#home-section
  .dark-overlay
    .home-inner
      .container
        .row
          .col-lg-8.d-none.d-lg-block
            h1.display-4 
              | Build 
              strong social profiles 
              | and gain revenue and profits
            .d-flex.flex-row
              .p-4.alighn-self-start
                i.fa.fa-check
              .p-4.alighn-self-end
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. In temporibus reprehenderit tempora ex officiis, deserunt quibusdam voluptatem quae similique ipsam sapiente?
            .d-flex.flex-row
              .p-4.alighn-self-start
                i.fa.fa-check
              .p-4.alighn-self-end
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. In temporibus reprehenderit tempora ex officiis, deserunt quibusdam voluptatem quae similique ipsam sapiente?
            .d-flex.flex-row
              .p-4.alighn-self-start
                i.fa.fa-check
              .p-4.alighn-self-end
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. In temporibus reprehenderit tempora ex officiis, deserunt quibusdam voluptatem quae similique ipsam sapiente?

          .col-lg-4
            .card.bg-primary.text-center.card-form
              .card-body
                h3 Sifgn Up Today
                p Please fill out this form to register
                form(action="")
                  .form-group
                    input.form-control.form-control-lg(type="text", name="username" placeholder="Username")
                  .form-group
                    input.form-control.form-control-lg(type="email", name="email" placeholder="Email")
                  .form-group
                    input.form-control.form-control-lg(type="password", name="password" placeholder="Password")
                  .form-group
                    input.form-control.form-control-lg(type="password", name="password_confirm" placeholder="Confirm password")
                  input.btn.btn-outline-light.btn-block(type="submit" value="Submit")
